.Cocktails_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px

}
.Cocktails_list_item {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.Cocktails_item_image {
    width: 200px;
    height: auto;

}
.Cocktails_item_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    padding-left: 0px;
}